.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.image {
    height: auto;
    width: 40%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.recipeTitle {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.instructions {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.paginationButton {
    padding: 8px 12px;
    font-size: 14px;
    color: #007bff;
    background-color: transparent;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-right: 5px;
}

.paginationButton:hover {
    background-color: #007bff;
    color: #fff;
}
